<!DOCTYPE html>
<html lang="de">
    <head>
      <meta charset="utf-8">
      <title>Questions</title>
      {% load static %}
      <link rel="stylesheet" type="text/css" href="{% static 'polls/detail_style.css' %}">
    </head>

    <body>
      <div>
        <div><p id="logo">POLLS'N'SURVEY</p></div>
      </div>

      <form action="{% url 'polls:vote' question.id %}" method="post">

      {% csrf_token %}
      <fieldset>
          <legend><h1>{{ question.question_text }}</h1></legend>
          {% if error_message %}<p class="choices"><strong>{{ error_message }}</strong></p>{% endif %}
          {% for choice in question.choice_set.all %}
              <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
              <label class="choices" for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
          {% endfor %}
      </fieldset>

      <br>

      <input class="button" type="submit" value="Vote" align="center">

      </form>
    </body>
</html>
